@import "../style-guide/style-guide.css";

.btn {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  background: transparent;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background 0.15s;
  font-family: inherit;
  font-weight: 700;
}

/* Basic Button */

.btn-primary {
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.btn-primary:hover {
  background: var(--primary-hover);
  color: var(--white);
  border-color: var(--primary-hover);
}

.btn-secondary {
  background: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background: var(--secondary-hover);
  color: var(--white);
  border-color: var(--secondary-hover);
}

.btn-success {
  background: var(--success);
  color: var(--white);
  border-color: var(--success);
}

.btn-success:hover {
  background: var(--success-hover);
  color: var(--white);
  border-color: var(--success-hover);
}

.btn-danger {
  background: var(--danger);
  color: var(--white);
  border-color: var(--danger);
}

.btn-danger:hover {
  background: var(--danger-hover);
  color: var(--white);
  border-color: var(--danger-hover);
}

.btn-warning {
  background: var(--warning);
  color: var(--white);
  border-color: var(--warning);
}

.btn-warning:hover {
  background: var(--warning-hover);
  color: var(--white);
  border-color: var(--warning-hover);
}

/* Outline Button */

.btn-outline-primary {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover {
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.btn-outline-secondary {
  background: transparent;
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:hover {
  background: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}

.btn-outline-success {
  background: transparent;
  color: var(--success);
  border-color: var(--success);
}

.btn-outline-success:hover {
  background: var(--success);
  color: var(--white);
  border-color: var(--success);
}

.btn-outline-danger {
  background: transparent;
  color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-danger:hover {
  background: var(--danger);
  color: var(--white);
  border-color: var(--danger);
}

.btn-outline-warning {
  background: transparent;
  color: var(--warning);
  border-color: var(--warning);
}

.btn-outline-warning:hover {
  background: var(--warning);
  color: var(--white);
  border-color: var(--warning);
}

/* Link Button */

.btn-link {
  border-radius: 0;
}

.link {
  color: var(--link);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Icon Button */
.btn-icon {
  padding: 1rem;
  /* border-radius: 50%; */
  min-width: 3rem;
  min-height: 3rem;
}

.btn-icon i {
  font-size: 1rem;
}

/* Floating Action Button */

/* .temporary-container {
    width: 90%;
    position: relative;
  } */

/* .floating-action-btn {
    position: absolute;
  } */
