@import "../style-guide/style-guide.css";

.temporary-image-container {
  width: 20vw;
  height: 20vw;
}

.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.round-img {
  border-radius: 50%;
}
