@import "../style-guide/style-guide.css";

.input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--secondary);
  position: relative;
}

.input > label {
  background-color: var(--secondary);
  width: max-content;
  font-size: 0.7rem;
  padding: 0 0.4rem;
  position: absolute;
  top: 0;
  left: 1rem;
}

.input > input {
  padding: 0.5rem;
  border: 1px solid var(--black);
  outline: none;
  background-color: var(--secondary);
  width: 30vw;
  color: white;
}

.input-success > input {
  border: 1px solid var(--success);
}

.input-success > label {
  color: var(--success);
}

.input-danger > input {
  border: 1px solid var(--danger);
}

.input-danger > label {
  color: var(--danger);
}
