.footer {
  width: 90vw;
  padding: 1rem 0;
  margin: 0 auto;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: 0 0 30px var(--primary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

footer p {
  color: var(--white);
}

.social-media-handle {
  font-size: 1.5rem;
  margin: 1rem 2rem 0 2rem;
  color: var(--white);
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.2s all;
}

.social-media-handle:hover {
  color: var(--primary);
  background-color: var(--secondary);
}
