.main {
  transition: all 0.3s;
}

.component-section {
  width: 90vw;
  padding: 1rem;
  margin: 3rem auto;
  height: fit-content;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 20px;
  box-shadow: 6px 6px 12px var(--shadow-dark),
    -6px -6px 12px var(--shadow-light);
}

.blur-filter {
  filter: blur(20px);
}

.component-subtitle {
  margin: 2rem 0;
}

.component-text {
  color: var(--white);
}

.component-display {
  margin: 2rem 0;
  padding: 2rem 1rem;
  background-color: var(--secondary);
  box-shadow: 0 0 10px var(--primary), inset 0 0 20px var(--primary);
  border-radius: 10px;
}

.component-code {
  width: 100%;
  background-color: var(--secondary-hover);
  border-radius: 20px;
}

iframe {
  width: 100% !important;
  margin-top: 1rem;
  z-index: -1;
  overflow-x: scroll;
}

@media only screen and (max-width: 900px) {
  iframe {
    display: none !important;
  }
}
