.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  width: 90%;
  margin: 1rem auto;
  padding: 0.25rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--primary);
  position: sticky;
  top: 10px;
  z-index: 1;
}

.nav-section {
  display: flex;
  align-items: center;
}

.logo-full {
  display: none;
  margin-left: 1rem;
  color: var(--white);
}

.logo {
  margin-left: 1rem;
  color: var(--white);
}

.hamburger {
  font-size: 1.5rem;
  color: var(--white);
}

.nav-link {
  margin: 0 1rem;
}

.nav-link a {
  color: var(--white);
  font-weight: 500;
}

.nav-link a:hover {
  color: var(--secondary);
}

.search {
  background-color: var(--primary-hover);
  padding: 1rem;
  width: 20vw;
  height: 70%;
  border-radius: 20px;
  justify-content: space-between;
}

.search input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 85%;
  font-family: inherit;
  font-size: 1rem;
  color: var(--white);
}

@media only screen and (min-width: 680px) {
  .logo-full {
    display: block;
  }

  .logo {
    display: none;
  }
}
